@model IEnumerable<RpgChestMVC.web.Models.Item>

@{
    ViewData["Title"] = "ViewListOfItems";
}

<h1>ViewListOfItems</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemLvl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Concetration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rarity.BonusMultiplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rarity.ItemRarity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemLvl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Concetration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rarity.BonusMultiplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rarity.ItemRarity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
