@model RpgChestMVC.Application.ViewModels.Item.ListofFullArmorsVm

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Item LVL
            </th>
            <th>
                Concentration
            </th>
            <th>
                Number of Sockets
            </th>
            <th>
                Rarity
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var FullArmor in Model.FullArmors) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => FullArmor.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => FullArmor.ItemLvl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => FullArmor.Concentration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => FullArmor.NumberOfSockets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => FullArmor.Rarity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = FullArmor.Id }) |
                @Html.ActionLink("Details", "Details", new { id = FullArmor.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = FullArmor.Id })
            </td>
        </tr>
}
    </tbody>
</table>
