@model RpgChestMVC.Application.ViewModels.Item.ItemDetailsVm

@{
    ViewData["Title"] = "ViewItem";
}

<h1>ViewItem</h1>

<div>
    <h4>ItemDetailsVm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Item Id
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            Item Lvl
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemLvl)
        </dd>
        <dt class = "col-sm-2">
            Item Concentration
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Concentration)
        </dd>
        <dt class = "col-sm-2">
            Avaiable Sockets
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfSockets)
        </dd>
        <dt class = "col-sm-2">
            Item Rarity
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rarity)
        </dd>
        <dt class = "col-sm-2">
            Type of Weapon (if available)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnumWeaponType)
        </dd>
        <dt class = "col-sm-2">
            Dmg Multiplier
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DmgMultiplier)
        </dd>
        <dt class = "col-sm-2">
            Dmg Dice
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DmgDice)
        </dd>
        <dt class = "col-sm-2">
            Critical Chance
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CritChance)
        </dd>
        <dt class = "col-sm-2">
            Critical Multiplier
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CritMultiplier)
        </dd>
        <dt class = "col-sm-2">
            Critical BonusDmg
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CritBonusDmg)
        </dd>
        <dt class = "col-sm-2">
            Hp Drain per hit
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HpDrain)
        </dd>
        <dt class = "col-sm-2">
            Chance for Bonus 10 points For Kp Penetration
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bonus10ForKpPenetration)
        </dd>
        <dt class = "col-sm-2">
            Bonus SA
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BonusSA)
        </dd>
        <dt class = "col-sm-2">
            Bonus Dmg Vs Summons 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BonusDmgVsSummons)
        </dd>
        <dt class = "col-sm-2">
            Extra Weapon Range 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtraWeaponRange)
        </dd>
        <dt class = "col-sm-2">
            Shield Point Destruction 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShieldPointDestroyer)
        </dd>
        <dt class = "col-sm-2">
            Extra Kp Penetration For Hammer's'
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtraKpPenetrationForHammer)
        </dd>
        <dt class = "col-sm-2">
            Type of Armor (if available)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnumArmorType)
        </dd>
        <dt class = "col-sm-2">
            Kp
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kp)
        </dd>
        <dt class = "col-sm-2">
           Hp
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hp)
        </dd>
        <dt class = "col-sm-2">
            Resistance For All Elementals
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResistanceForAll)
        </dd>
        <dt class = "col-sm-2">
            Physical Absorption
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhysicalAbsorption)
        </dd>
        <dt class = "col-sm-2">
            Magical Absorption
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MagicalAbsorption)
        </dd>
        <dt class = "col-sm-2">
            Physical Reduction
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhysicalReduction)
        </dd>
        <dt class = "col-sm-2">
            Magical Reduction
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MagicalReduction)
        </dd>
        <dt class = "col-sm-2">
            Hp Per Lvl
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HpPerLvl)
        </dd>
        <dt class = "col-sm-2">
            Daily Regeneration For 4 Turns
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailyRegenerationFor4Turns)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
